Repository OffchainLabs/prysm, pull requests merged in 2018-09, with the labels that each got.

#440 Persist Blocks and State in DB
  beacon-chain/blockchain/BUILD.bazel
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/schema.go
  beacon-chain/blockchain/schema_test.go
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  proto/beacon/p2p/v1/messages.pb.go
Labels: Beacon Chain, Ready For Review

#461 Implement Sync Handler for Block Requests By Slot Number
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/schema.go
  beacon-chain/blockchain/service.go
  beacon-chain/sync/BUILD.bazel
  beacon-chain/sync/service.go
  beacon-chain/sync/service_test.go
Labels: Beacon Chain, Ready For Review

#441 Implementing Partial Implementation of Proposer Responsibility
  beacon-chain/node/node.go
  beacon-chain/rpc/BUILD.bazel
  beacon-chain/rpc/service.go
  beacon-chain/rpc/service_test.go
  proto/beacon/rpc/v1/BUILD.bazel
  proto/beacon/rpc/v1/services.pb.go
  proto/beacon/rpc/v1/services.proto
  validator/attester/BUILD.bazel
  validator/attester/service.go
  validator/attester/service_test.go
  validator/beacon/BUILD.bazel
  validator/beacon/service.go
  validator/beacon/service_test.go
  validator/internal/BUILD.bazel
  validator/internal/proposer_service_mock.go
  validator/node/node.go
  validator/proposer/BUILD.bazel
  validator/proposer/service.go
  validator/proposer/service_test.go
  validator/rpcclient/service.go
  validator/types/BUILD.bazel
  validator/types/interfaces.go
Labels: Beacon Chain, Ready For Review

#472 Save Attestation and AttestationHashes to DB
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/schema.go
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/types/BUILD.bazel
  beacon-chain/types/attestation.go
  beacon-chain/types/attestation_test.go
  proto/beacon/p2p/v1/messages.pb.go
  proto/beacon/p2p/v1/messages.proto
Labels: Ready For Review

#489 Fix p2p Message Issues
  beacon-chain/node/BUILD.bazel
  beacon-chain/node/p2p_config.go
  beacon-chain/simulator/BUILD.bazel
  beacon-chain/simulator/service.go
  beacon-chain/simulator/service_test.go
  beacon-chain/sync/BUILD.bazel
  beacon-chain/sync/initial-sync/BUILD.bazel
  beacon-chain/sync/initial-sync/service.go
  beacon-chain/sync/initial-sync/service_test.go
  beacon-chain/sync/service.go
  beacon-chain/sync/service_test.go
  beacon-chain/types/interfaces.go
  shared/p2p/BUILD.bazel
  shared/p2p/feed.go
  shared/p2p/feed_example_test.go
  shared/p2p/feed_test.go
  shared/p2p/message.go
  shared/p2p/message_test.go
  shared/p2p/service.go
  shared/p2p/service_test.go
  validator/node/BUILD.bazel
  validator/node/p2p_config.go
Labels: Bug

#491 Add MacOS to travis CI
  .travis.yml
Labels: Enhancement

#490 Update rules_go, bazel_gazelle, and go-ethereum to Support Go 1.11
  WORKSPACE
  beacon-chain/rpc/BUILD.bazel
  beacon-chain/simulator/BUILD.bazel
  beacon-chain/types/BUILD.bazel
  validator/proposer/BUILD.bazel
Labels: Enhancement

#473 Refactor Beacon Chain To Simplify Block Processing
  beacon-chain/blockchain/BUILD.bazel
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/casper/validator.go
  beacon-chain/casper/validator_test.go
  beacon-chain/types/BUILD.bazel
  beacon-chain/types/active_state.go
  beacon-chain/types/active_state_test.go
  beacon-chain/types/block.go
  beacon-chain/types/block_test.go
  beacon-chain/types/crystallized_state.go
  beacon-chain/types/crystallized_state_test.go
  beacon-chain/types/state.go
  beacon-chain/types/state_test.go
  beacon-chain/types/vote_cache.go
Labels: Ready For Review

#487 Implement Attester Responsibilities for Demo
  beacon-chain/blockchain/service.go
  beacon-chain/rpc/service.go
  beacon-chain/rpc/service_test.go
  proto/beacon/rpc/v1/services.pb.go
  proto/beacon/rpc/v1/services.proto
  validator/attester/BUILD.bazel
  validator/attester/service.go
  validator/attester/service_test.go
  validator/internal/BUILD.bazel
  validator/internal/attester_service_mock.go
  validator/proposer/BUILD.bazel
  validator/proposer/service.go
Labels: Beacon Chain, In Progress

#498 Dynasty Transition During Block Processing
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/params/config.go
  beacon-chain/types/crystallized_state.go
  beacon-chain/types/crystallized_state_test.go
  proto/beacon/p2p/v1/messages.pb.go
  proto/beacon/p2p/v1/messages.proto
Labels: Beacon Chain

#505 Pubkey Description in VRC MD
  docs/VALIDATOR_REGISTRATION.md
Labels: Enhancement

#506 Fix Readme for DeployVRC
  contracts/validator-registration-contract/deployVRC/README.md
Labels: Ready For Review

#513 Aligning With Latest 2.1 Spec
  beacon-chain/blockchain/service.go
  beacon-chain/types/block.go
  beacon-chain/types/crystallized_state.go
  beacon-chain/types/crystallized_state_test.go
  proto/beacon/p2p/v1/messages.pb.go
  proto/beacon/p2p/v1/messages.proto
Labels: Beacon Chain, Ready For Review

#475 Implement RPC Messaging Between Validators
  beacon-chain/blockchain/service.go
  beacon-chain/internal/beacon_service_mock.go
  beacon-chain/rpc/service.go
  beacon-chain/rpc/service_test.go
  beacon-chain/simulator/BUILD.bazel
  beacon-chain/simulator/service.go
  beacon-chain/sync/BUILD.bazel
  beacon-chain/sync/initial-sync/BUILD.bazel
  beacon-chain/sync/initial-sync/service.go
  beacon-chain/sync/service.go
  proto/beacon/rpc/v1/services.pb.go
  proto/beacon/rpc/v1/services.proto
  proto/sharding/p2p/v1/BUILD.bazel
  shared/BUILD.bazel
  shared/p2p/BUILD.bazel
  shared/p2p/service_test.go
  shared/types.go
  validator/attester/service.go
  validator/beacon/service.go
  validator/beacon/service_test.go
  validator/internal/beacon_service_mock.go
  validator/node/node.go
  validator/proposer/BUILD.bazel
  validator/proposer/service.go
  validator/proposer/service_test.go
Labels: Ready For Review

#524 Validator Client Fix
  validator/node/node.go
  validator/rpcclient/service.go
  validator/rpcclient/service_test.go
Labels: Bug, Validator Client

#474 Refactor Block Processing + UpdateHead to Use Slot Numbers
  beacon-chain/blockchain/BUILD.bazel
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/sync/service.go
  beacon-chain/sync/service_test.go
Labels: Beacon Chain

#467 Validator Clients Use an Internal Clock to Determine Slot Responsibility
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/internal/beacon_service_mock.go
  beacon-chain/node/node.go
  beacon-chain/rpc/BUILD.bazel
  beacon-chain/rpc/service.go
  beacon-chain/rpc/service_test.go
  beacon-chain/types/BUILD.bazel
  beacon-chain/types/block.go
  beacon-chain/types/block_test.go
  beacon-chain/types/crystallized_state.go
  beacon-chain/types/interfaces.go
  proto/beacon/rpc/v1/services.pb.go
  proto/beacon/rpc/v1/services.proto
  validator/beacon/BUILD.bazel
  validator/beacon/service.go
  validator/beacon/service_test.go
  validator/internal/beacon_service_mock.go
  validator/params/config.go
  validator/proposer/service.go
Labels: Beacon Chain, Ready For Review

#550 Fixing CPU Profiling and Tracing
  beacon-chain/node/node.go
  shared/debug/debug.go
  validator/beacon/service.go
  validator/beacon/service_test.go
  validator/main.go
  validator/node/node.go
Labels: Bug, Ready For Review, Validator Client

#541 Re-Add Block Validity Checks
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/casper/validator.go
  beacon-chain/types/block.go
  shared/testutil/log.go
Labels: Bug

#504 Update Rewards to Align With New Spec
  beacon-chain/casper/incentives.go
  beacon-chain/casper/incentives_test.go
  beacon-chain/casper/validator.go
  beacon-chain/casper/validator_test.go
  beacon-chain/params/config.go
  beacon-chain/types/crystallized_state.go
  beacon-chain/types/crystallized_state_test.go
  proto/beacon/p2p/v1/messages.pb.go
  proto/beacon/p2p/v1/messages.proto
Labels: Beacon Chain, Ready For Review

#537 --Dev Mode Flag for Local Demo/Development
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/service.go
  beacon-chain/main.go
  beacon-chain/node/node.go
  beacon-chain/node/node_test.go
  beacon-chain/rpc/service.go
  beacon-chain/simulator/service.go
  beacon-chain/simulator/service_test.go
  beacon-chain/sync/initial-sync/service.go
  beacon-chain/sync/service.go
  beacon-chain/types/active_state.go
  beacon-chain/types/vote_cache.go
  beacon-chain/utils/flags.go
Labels: Beacon Chain, Enhancement

#554 Streaming Validator Assignment Service Definition
  beacon-chain/rpc/service.go
  proto/beacon/rpc/v1/services.pb.go
  proto/beacon/rpc/v1/services.proto
  validator/internal/BUILD.bazel
  validator/internal/attester_service_mock.go
  validator/internal/validator_service_mock.go
Labels: Beacon Chain, Validator Client

#559 Change Default Validator Balance to Big Int
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/casper/incentives.go
  beacon-chain/casper/sharding.go
  beacon-chain/casper/sharding_test.go
  beacon-chain/casper/validator.go
  beacon-chain/casper/validator_test.go
  beacon-chain/params/config.go
  beacon-chain/types/active_state.go
  beacon-chain/types/active_state_test.go
  beacon-chain/types/block_test.go
  beacon-chain/types/crystallized_state.go
  beacon-chain/types/crystallized_state_test.go
  beacon-chain/utils/shuffle_test.go
Labels: Beacon Chain, Ready For Review

#564 Fixed Bugs after Crosschecking 2.1 Spec
  beacon-chain/blockchain/service.go
  beacon-chain/casper/BUILD.bazel
  beacon-chain/casper/sharding_test.go
  beacon-chain/casper/validator.go
  beacon-chain/types/active_state.go
  beacon-chain/types/active_state_test.go
  beacon-chain/types/crystallized_state.go
  beacon-chain/types/crystallized_state_test.go
Labels: Ready For Review

#565 Refactor ValidatorSlot RPC and Casper to Return ValidatorSlotAndResponsibility
  beacon-chain/casper/validator.go
  beacon-chain/casper/validator_test.go
  beacon-chain/rpc/service.go
  beacon-chain/rpc/service_test.go
  proto/beacon/rpc/v1/services.pb.go
  proto/beacon/rpc/v1/services.proto
  validator/internal/validator_service_mock.go
Labels: Beacon Chain, Enhancement, Ready For Review

#567 Add Ability for Validator Client to Provide Public Key
  validator/attester/service.go
  validator/main.go
  validator/node/BUILD.bazel
  validator/node/node.go
  validator/node/node_test.go
  validator/proposer/service.go
  validator/types/flags.go
Labels: Ready For Review, Validator Client

#574 Fixes Error on Startup for Validator Client
  beacon-chain/rpc/service.go
  beacon-chain/rpc/service_test.go
Labels: Beacon Chain, Bug, Ready For Review

#563 Validator Assignment RPC Beacon Node Stream
  beacon-chain/blockchain/BUILD.bazel
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/internal/BUILD.bazel
  beacon-chain/internal/beacon_service_mock.go
  beacon-chain/internal/validator_service_mock.go
  beacon-chain/params/config.go
  beacon-chain/rpc/BUILD.bazel
  beacon-chain/rpc/service.go
  beacon-chain/rpc/service_test.go
  beacon-chain/types/block.go
  beacon-chain/types/block_test.go
  beacon-chain/utils/clock.go
  beacon-chain/utils/clock_test.go
  proto/beacon/rpc/v1/services.pb.go
  proto/beacon/rpc/v1/services.proto
  validator/beacon/BUILD.bazel
  validator/beacon/service.go
  validator/beacon/service_test.go
  validator/internal/beacon_service_mock.go
  validator/internal/validator_service_mock.go
  validator/params/config.go
  validator/utils/BUILD.bazel
  validator/utils/clock.go
  validator/utils/clock_test.go
Labels: Beacon Chain, Intermediate

#576 Load Genesis State Config when Flag is Specified
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/node/node.go
  beacon-chain/rpc/service_test.go
  beacon-chain/sync/service_test.go
  beacon-chain/types/BUILD.bazel
  beacon-chain/types/active_state_test.go
  beacon-chain/types/block_test.go
  beacon-chain/types/crystallized_state.go
  beacon-chain/types/crystallized_state_test.go
  beacon-chain/utils/flags.go
  genesis.json
Labels: In Progress

#566 Validator Client Use Assignment Stream to Determine Responsibility
  beacon-chain/blockchain/core.go
  beacon-chain/internal/beacon_service_mock.go
  beacon-chain/main.go
  beacon-chain/rpc/service.go
  beacon-chain/utils/clock_test.go
  genesis.json
  validator/attester/service.go
  validator/attester/service_test.go
  validator/beacon/service.go
  validator/beacon/service_test.go
  validator/internal/beacon_service_mock.go
  validator/node/node.go
  validator/proposer/service.go
Labels: Ready For Review

#584 Add Back Deleted Test and New Logs
  beacon-chain/types/crystallized_state.go
  validator/beacon/service.go
  validator/beacon/service_test.go
Labels: Bug

#585 Fix State Recalc in Slot Assignment
  beacon-chain/attestation/service.go
  validator/beacon/service.go
  validator/beacon/service_test.go
Labels: Bug

#590 Adding Proposer Index to block
  beacon-chain/rpc/service.go
Labels: Beacon Chain
