Repository OffchainLabs/prysm, pull requests merged in 2018-07, with the labels that each got.

#223 Handle Collation Body Request for Proposers and Observers
  sharding/collation.go
  sharding/collation_test.go
  sharding/contracts/sharding_manager.go
  sharding/contracts/sharding_manager.sol
  sharding/contracts/sharding_manager_test.go
  sharding/mainchain/interfaces.go
  sharding/node/backend.go
  sharding/observer/service.go
  sharding/observer/service_test.go
  sharding/p2p/messages/messages.go
  sharding/proposer/proposer.go
  sharding/proposer/service.go
  sharding/proposer/service_test.go
  sharding/shard_test.go
  sharding/simulator/service.go
  sharding/simulator/service_test.go
  sharding/syncer/handlers.go
  sharding/syncer/handlers_test.go
  sharding/syncer/service.go
  sharding/syncer/service_test.go
Labels: Needs Review

#250 Move beacon-chain to geth-sharding repo
  beacon-chain/BUILD.bazel
  beacon-chain/LICENSE.md
  beacon-chain/README.md
  beacon-chain/config.go
  beacon-chain/types/BUILD.bazel
  beacon-chain/types/block.go
  beacon-chain/types/state.go
Labels: Enhancement

#247 Update Documentation to Reflect Beacon Chain Research
  README.md
  beacon-chain/README.md
  beacon-chain/RESEARCH.md
  sharding/CONTRIBUTING.md
  sharding/READINGS.md
  sharding/README.md
Labels: Intermediate

#252 Port Common Utils to Shared Folder
  sharding/types/BUILD.bazel
  sharding/types/collation.go
  sharding/types/collation_test.go
  sharding/utils/BUILD.bazel
  shared/BUILD.bazel
  shared/marshal.go
  shared/marshal_test.go
Labels: Enhancement

#275 Abstract Debug Into Shared/Debug and Reinclude Debug.Exit()
  beacon-chain/BUILD.bazel
  beacon-chain/main.go
  beacon-chain/node/BUILD.bazel
  beacon-chain/node/node.go
  sharding/BUILD.bazel
  sharding/main.go
  sharding/node/BUILD.bazel
  sharding/node/backend.go
  sharding/utils/BUILD.bazel
  sharding/utils/flags.go
  shared/debug/BUILD.bazel
  shared/debug/debug.go
Labels: Enhancement

#273 Create a Subscription to Mainchain Head Events Via RPC as a Service in Beacon Node
  beacon-chain/BUILD.bazel
  beacon-chain/main.go
  beacon-chain/node/BUILD.bazel
  beacon-chain/node/node.go
  beacon-chain/node/node_test.go
  beacon-chain/powchain/BUILD.bazel
  beacon-chain/powchain/service.go
  beacon-chain/powchain/service_test.go
  beacon-chain/types/BUILD.bazel
  beacon-chain/types/flags.go
Labels: Beacon Chain

#276 Fix Concurrency Issues, Fix Simulator/Proposer/Syncer Runtime Problems
  sharding/node/backend.go
  sharding/proposer/service.go
  sharding/simulator/BUILD.bazel
  sharding/simulator/service.go
  sharding/simulator/service_test.go
  sharding/syncer/BUILD.bazel
  sharding/syncer/service.go
  sharding/syncer/service_test.go
  sharding/utils/BUILD.bazel
  sharding/utils/service.go
  sharding/utils/service_test.go
Labels: Bug

#222 Local networked P2P!
  WORKSPACE
  proto/sharding/v1/BUILD.bazel
  proto/sharding/v1/messages.pb.go
  proto/sharding/v1/messages.proto
  sharding/main.go
  sharding/notary/BUILD.bazel
  sharding/p2p/BUILD.bazel
  sharding/p2p/discovery.go
  sharding/p2p/discovery_test.go
  sharding/p2p/feed.go
  sharding/p2p/feed_test.go
  sharding/p2p/message.go
  sharding/p2p/messages/messages.go
  sharding/p2p/options.go
  sharding/p2p/options_test.go
  sharding/p2p/service.go
  sharding/p2p/service_test.go
  sharding/p2p/topics.go
  sharding/p2p/topics_test.go
  sharding/params/BUILD.bazel
  sharding/proposer/BUILD.bazel
  sharding/proposer/service.go
  sharding/simulator/BUILD.bazel
  sharding/simulator/service.go
  sharding/simulator/service_test.go
  sharding/syncer/BUILD.bazel
  sharding/syncer/handlers.go
  sharding/syncer/handlers_test.go
  sharding/syncer/service.go
  sharding/syncer/service_test.go
  sharding/types/BUILD.bazel
  sharding/types/shard.go
  shared/debug/debug.go
  shared/legacyutil/BUILD.bazel
  shared/legacyutil/convert_transaction.go
Labels: Bigger Project, Enhancement

#291 Beacon Node Listens to ValidatorRegistered Log
  beacon-chain/VALIDATOR_REGISTER.md
  beacon-chain/main.go
  beacon-chain/node/BUILD.bazel
  beacon-chain/node/node.go
  beacon-chain/powchain/BUILD.bazel
  beacon-chain/powchain/service.go
  beacon-chain/powchain/service_test.go
  beacon-chain/types/flags.go
  contracts/validator_registration.go
  contracts/validator_registration.sol
  contracts/validator_registration_test.go
Labels: Beacon Chain

#303 Implemented Shuffle Function for Beacon State
  beacon-chain/blockchain/BUILD.bazel
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/params/config.go
Labels: Beacon Chain

#309 Outline for Active State Transition Function
  beacon-chain/blockchain/BUILD.bazel
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/node/node.go
  beacon-chain/types/block.go
  beacon-chain/types/state.go
  beacon-chain/utils/BUILD.bazel
  beacon-chain/utils/shuffle.go
  beacon-chain/utils/shuffle_test.go
Labels: Beacon Chain, Needs Review

#310 Block Processing Validity Conditions
  beacon-chain/blockchain/BUILD.bazel
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/service.go
  beacon-chain/params/config.go
  beacon-chain/powchain/service.go
  beacon-chain/types/BUILD.bazel
  beacon-chain/types/block.go
  beacon-chain/types/state.go
  beacon-chain/utils/shuffle.go
Labels: Beacon Chain

#319 Check State Hashes while Processing Incoming Blocks
  beacon-chain/blockchain/BUILD.bazel
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/types/block.go
  beacon-chain/types/state.go
Labels: Beacon Chain

#320 Add RPC Support to Client
  client/main.go
  client/node/backend.go
  shared/cmd/flags.go
Labels: Enhancement

#329 Implement Validator Clean Up for Dynasty Transition
  beacon-chain/blockchain/BUILD.bazel
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
Labels: Beacon Chain

#327 Initial Beacon P2P Protobufs, Subscriptions
  WORKSPACE
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/database/database.go
  beacon-chain/database/database_test.go
  beacon-chain/network/BUILD.bazel
  beacon-chain/network/service.go
  beacon-chain/node/BUILD.bazel
  beacon-chain/node/node.go
  beacon-chain/powchain/BUILD.bazel
  beacon-chain/powchain/service.go
  beacon-chain/powchain/service_test.go
  beacon-chain/sync/BUILD.bazel
  beacon-chain/sync/service.go
  beacon-chain/sync/service_test.go
  beacon-chain/types/BUILD.bazel
  beacon-chain/types/block.go
  beacon-chain/types/interfaces.go
  beacon-chain/utils/BUILD.bazel
  beacon-chain/utils/shuffle.go
  proto/sharding/v1/BUILD.bazel
  proto/sharding/v1/messages.pb.go
  proto/sharding/v1/messages.proto
  shared/p2p/feed.go
  shared/p2p/peer.go
  shared/p2p/service.go
  shared/p2p/service_test.go
  shared/p2p/topics.go
Labels: Beacon Chain, Intermediate

#323 Implemeting Validator Rewards and Penalties
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/service.go
  beacon-chain/params/config.go
Labels: Beacon Chain, Intermediate, Needs Review

#339 Implement Validator Cutoff Algorithm
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/params/config.go
Labels: Beacon Chain, Needs Review

#354 Part 1 of State Sync - Crystallized State Proto Struct
  beacon-chain/blockchain/BUILD.bazel
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/types/BUILD.bazel
  beacon-chain/types/state.go
  proto/sharding/v1/messages.pb.go
  proto/sharding/v1/messages.proto
Labels: Beacon Chain, Intermediate

#355 Part 2 of State Sync - Active State Proto Struct
  beacon-chain/blockchain/BUILD.bazel
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/types/state.go
  proto/sharding/v1/messages.pb.go
  proto/sharding/v1/messages.proto
Labels: Beacon Chain
