Repository OffchainLabs/prysm, pull requests merged in 2018-08, with the labels that each got.

#358 Part 3 of State Sync - Active and Crystallized Sync Services
  beacon-chain/blockchain/service.go
  beacon-chain/sync/service.go
  beacon-chain/sync/service_test.go
  beacon-chain/types/interfaces.go
  proto/beacon/p2p/v1/messages.pb.go
Labels: Beacon Chain

#360 Beacon Chain RPC Service Proto Definitions
  proto/beacon/p2p/v1/BUILD.bazel
  proto/beacon/p2p/v1/messages.pb.go
  proto/beacon/p2p/v1/messages.proto
  proto/beacon/rpc/v1/BUILD.bazel
  proto/beacon/rpc/v1/services.pb.go
  proto/beacon/rpc/v1/services.proto
  proto/sharding/p2p/v1/BUILD.bazel
  proto/sharding/p2p/v1/messages.pb.go
  proto/sharding/p2p/v1/messages.proto
Labels: Beacon Chain

#361 Simulate Epoch Transition
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/simulator/BUILD.bazel
  beacon-chain/simulator/service.go
  beacon-chain/simulator/service_test.go
  beacon-chain/sync/service.go
  beacon-chain/types/state.go
  proto/sharding/p2p/v1/messages.pb.go
  proto/sharding/p2p/v1/messages.proto
  shared/p2p/topics.go
Labels: Beacon Chain

#364 Beacon Node gRPC Server and Client Services
  beacon-chain/main.go
  beacon-chain/node/BUILD.bazel
  beacon-chain/node/node.go
  beacon-chain/rpc/BUILD.bazel
  beacon-chain/rpc/service.go
  beacon-chain/rpc/service_test.go
  beacon-chain/utils/flags.go
  client/main.go
  client/node/BUILD.bazel
  client/node/node.go
  client/rpcclient/BUILD.bazel
  client/rpcclient/service.go
  client/rpcclient/service_test.go
  client/utils/flags.go
Labels: Beacon Chain, Sharding

#367 Fixed Deficiency in Apply Reward & Refactored Blockchain Functions
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/service.go
  proto/beacon/p2p/v1/messages.pb.go
Labels: Bug

#380 Remove Client/Simulator Package
  client/node/BUILD.bazel
  client/node/node.go
  client/simulator/BUILD.bazel
  client/simulator/service.go
  client/simulator/service_test.go
Labels: Enhancement, Sharding

#357 Check Last Finalized Epoch
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/service.go
  beacon-chain/sync/service.go
  beacon-chain/sync/service_test.go
  beacon-chain/types/block.go
  beacon-chain/types/interfaces.go
  proto/beacon/p2p/v1/messages.pb.go
  proto/beacon/p2p/v1/messages.proto
  proto/sharding/p2p/v1/messages.pb.go
  proto/sharding/p2p/v1/messages.proto
  shared/p2p/topics.go
Labels: Beacon Chain, Intermediate

#382 Each Service Should Run a Single Main Routine
  beacon-chain/blockchain/service.go
  beacon-chain/powchain/service.go
  beacon-chain/powchain/service_test.go
  client/attester/attester.go
  client/attester/service.go
  client/node/node.go
  client/observer/BUILD.bazel
  client/observer/service.go
  client/proposer/BUILD.bazel
  client/proposer/service.go
  client/proposer/service_test.go
  client/syncer/BUILD.bazel
  client/syncer/handlers.go
  client/syncer/service.go
  client/syncer/service_test.go
Labels: Enhancement

#383 Adding a TravisCI Discord Bot
  .travis.yml
Labels: Beginner, Enhancement

#386 Update docs client/beacon-chain wide
  beacon-chain/README.md
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/service.go
  beacon-chain/main.go
  beacon-chain/node/node.go
  beacon-chain/node/node_test.go
  beacon-chain/params/config.go
  beacon-chain/powchain/service.go
  beacon-chain/rpc/service.go
  beacon-chain/simulator/service.go
  beacon-chain/sync/service.go
  beacon-chain/sync/service_test.go
  beacon-chain/types/block.go
  beacon-chain/types/interfaces.go
  beacon-chain/types/state.go
  beacon-chain/utils/shuffle.go
  client/attester/attester.go
  client/internal/client_helper.go
  client/main.go
  client/mainchain/interfaces.go
  client/mainchain/utils.go
  client/node/node.go
  client/node/node_test.go
  client/rpcclient/service.go
  client/syncer/service.go
  client/types/shard.go
  contracts/validator_registration.go
  shared/cmd/flags.go
  shared/p2p/peer.go
  shared/p2p/service.go
  shared/testutil/log.go
Labels: In Progress

#391 Remove Observer Package from Client
  README.md
  client/README.md
  client/node/BUILD.bazel
  client/node/node.go
  client/observer/BUILD.bazel
  client/observer/service.go
  client/observer/service_test.go
  client/txpool/service.go
  client/types/flags.go
  client/types/interfaces.go
Labels: Sharding

#395 Remove Mainchain & Syncer Packages from Client
  client/main.go
  client/mainchain/BUILD.bazel
  client/mainchain/interfaces.go
  client/mainchain/smc_client.go
  client/mainchain/smc_client_test.go
  client/mainchain/utils.go
  client/node/BUILD.bazel
  client/node/node.go
  client/syncer/BUILD.bazel
  client/syncer/handlers.go
  client/syncer/handlers_test.go
  client/syncer/service.go
  client/syncer/service_norace_test.go
  client/syncer/service_test.go
  client/types/flags.go
Labels: Beacon Chain, Sharding

#371 Part 1 of Aligning Core Blockchain Package with Latest 2.1 Spec
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/service.go
  beacon-chain/params/config.go
  beacon-chain/simulator/service.go
  beacon-chain/simulator/service_test.go
  beacon-chain/sync/service.go
  beacon-chain/sync/service_test.go
  beacon-chain/types/block.go
  beacon-chain/types/state.go
  beacon-chain/utils/BUILD.bazel
  beacon-chain/utils/checkbit.go
  beacon-chain/utils/checkbit_test.go
  beacon-chain/utils/shuffle.go
  beacon-chain/utils/shuffle_test.go
  client/attester/service_test.go
  client/beacon/service.go
  client/beacon/service_test.go
  proto/beacon/p2p/v1/messages.pb.go
  proto/beacon/p2p/v1/messages.proto
  proto/beacon/rpc/v1/services.pb.go
  proto/beacon/rpc/v1/services.proto
Labels: Beacon Chain, Casper Integration, Intermediate, Needs Review

#402 Improve Test Coverage for Beacon Chain Package
  beacon-chain/blockchain/BUILD.bazel
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/node/BUILD.bazel
  beacon-chain/node/node.go
  beacon-chain/powchain/BUILD.bazel
  beacon-chain/powchain/service.go
  beacon-chain/powchain/service_test.go
Labels: Beacon Chain

#403 Part 2 of Aligning Core Package with Latest 2.1 - Helper Functions
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
Labels: Beacon Chain, Needs Review

#400 Implement Beacon Node gRPC Server Streams
  beacon-chain/blockchain/BUILD.bazel
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/internal/BUILD.bazel
  beacon-chain/internal/beacon_service_mock.go
  beacon-chain/node/node.go
  beacon-chain/params/config.go
  beacon-chain/rpc/BUILD.bazel
  beacon-chain/rpc/service.go
  beacon-chain/rpc/service_test.go
  beacon-chain/simulator/BUILD.bazel
  beacon-chain/simulator/service.go
  beacon-chain/simulator/service_test.go
  beacon-chain/sync/service.go
  beacon-chain/sync/service_test.go
  beacon-chain/types/BUILD.bazel
  beacon-chain/types/block.go
  beacon-chain/types/interfaces.go
  beacon-chain/types/state.go
  client/beacon/service.go
  proto/beacon/p2p/v1/messages.pb.go
Labels: Beacon Chain

#414 Implement Beacon Node Validator and Observer Entry Points
  README.md
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/main.go
  beacon-chain/node/BUILD.bazel
  beacon-chain/node/node.go
  beacon-chain/node/node_test.go
  beacon-chain/simulator/service.go
  beacon-chain/simulator/service_test.go
  beacon-chain/utils/flags.go
Labels: Beacon Chain

#417 Update Documentation With Specific Build Rules
  README.md
Labels: Enhancement

#422 Store Incoming Blocks and Calculated States in DAG
  beacon-chain/blockchain/BUILD.bazel
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/casper/BUILD.bazel
  beacon-chain/casper/incentives.go
  beacon-chain/casper/incentives_test.go
  beacon-chain/casper/sharding.go
  beacon-chain/casper/sharding_test.go
  beacon-chain/casper/validator.go
  beacon-chain/casper/validator_test.go
  beacon-chain/node/node.go
  beacon-chain/params/config.go
  beacon-chain/rpc/BUILD.bazel
  beacon-chain/rpc/service.go
  beacon-chain/rpc/service_test.go
  beacon-chain/simulator/BUILD.bazel
  beacon-chain/simulator/service.go
  beacon-chain/simulator/service_test.go
  beacon-chain/sync/BUILD.bazel
  beacon-chain/sync/initial-sync/service_test.go
  beacon-chain/sync/service.go
  beacon-chain/sync/service_test.go
  beacon-chain/types/BUILD.bazel
  beacon-chain/types/block.go
  beacon-chain/types/block_test.go
  beacon-chain/types/interfaces.go
  beacon-chain/types/state.go
  beacon-chain/types/state_test.go
Labels: Beacon Chain, Bigger Project

#423 Part 3 of Aligning Beacon Chain with Latest 2.1 - Processing Attestations
  beacon-chain/blockchain/BUILD.bazel
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/casper/BUILD.bazel
  beacon-chain/casper/incentives.go
  beacon-chain/casper/validator.go
  beacon-chain/casper/validator_test.go
  beacon-chain/node/node.go
  beacon-chain/types/block.go
  beacon-chain/utils/checkbit.go
  beacon-chain/utils/checkbit_test.go
  validator/beacon/service.go
  validator/beacon/service_test.go
  validator/node/node.go
Labels: Beacon Chain

#430 Part 4 of Aligning Beacon Chain with Latest 2.1 - Bootstrapping Genesis
  beacon-chain/blockchain/core.go
  beacon-chain/blockchain/core_test.go
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/casper/BUILD.bazel
  beacon-chain/casper/incentives.go
  beacon-chain/casper/incentives_test.go
  beacon-chain/casper/sharding.go
  beacon-chain/casper/sharding_test.go
  beacon-chain/casper/validator.go
  beacon-chain/casper/validator_test.go
  beacon-chain/params/config.go
  beacon-chain/types/BUILD.bazel
  beacon-chain/types/state.go
  beacon-chain/types/state_test.go
  beacon-chain/utils/shuffle.go
  beacon-chain/utils/shuffle_test.go
  proto/beacon/p2p/v1/messages.pb.go
  proto/beacon/p2p/v1/messages.proto
Labels: Beacon Chain
