Repository OffchainLabs/prysm, pull requests merged in 2024-11, with the labels that each got.

#14600 Remove validator count log
  CHANGELOG.md
  validator/client/BUILD.bazel
  validator/client/key_reload.go
  validator/client/key_reload_test.go
  validator/client/validator.go
  validator/client/validator_test.go
  validator/client/wait_for_activation.go
  validator/client/wait_for_activation_test.go
Labels: Validator Client

#14601 Engine API: execution requests should be unique
  proto/engine/v1/electra.go
  proto/engine/v1/electra_test.go
Labels: Bug, API, Electra

#14597 Light Client: Electra finality branch
  api/server/structs/conversions_lightclient.go
  beacon-chain/core/light-client/lightclient.go
  beacon-chain/core/light-client/lightclient_test.go
  beacon-chain/db/kv/lightclient_test.go
  beacon-chain/rpc/eth/light-client/handlers_test.go
  beacon-chain/rpc/eth/light-client/helpers.go
  beacon-chain/rpc/eth/light-client/helpers_test.go
  config/fieldparams/mainnet.go
  config/fieldparams/minimal.go
  consensus-types/interfaces/light_client.go
  consensus-types/light-client/BUILD.bazel
  consensus-types/light-client/bootstrap.go
  consensus-types/light-client/finality_update.go
  consensus-types/light-client/header.go
  consensus-types/light-client/helpers.go
  consensus-types/light-client/update.go
  proto/prysm/v1alpha1/BUILD.bazel
  proto/prysm/v1alpha1/electra.ssz.go
  proto/prysm/v1alpha1/light_client.pb.go
  proto/prysm/v1alpha1/light_client.proto
Labels: Light Client

#14612 Build Proto State Object Once
  CHANGELOG.md
  beacon-chain/db/kv/state.go
Labels: Ready For Review

#14613 Allow Protobuf State To Be Created Without Copying
  CHANGELOG.md
  beacon-chain/state/state-native/getters_state.go
Labels: Ready For Review

#14608 Rollback Block With Context Deadline
  CHANGELOG.md
  beacon-chain/blockchain/process_block.go
  beacon-chain/blockchain/process_block_test.go
Labels: Ready For Review

#14605 Return early blob constructor if not deneb
  CHANGELOG.md
  beacon-chain/sync/subscriber_beacon_blocks.go
Labels: Ready For Review

#14635 Electra: unskipping merkle spec tests:
  CHANGELOG.md
  testing/spectest/mainnet/electra/merkle_proof/merkle_proof_test.go
  testing/spectest/minimal/electra/merkle_proof/merkle_proof_test.go
Labels: Tests, Electra

#14637 Validator REST api: adding in check for empty keys changed
  CHANGELOG.md
  beacon-chain/rpc/prysm/v1alpha1/validator/status.go
  validator/client/beacon-api/status.go
  validator/client/beacon-api/status_test.go
  validator/client/validator.go
  validator/client/validator_test.go
Labels: Bug, API, Validator Client

#14640 reorganizing p2p and backfill service registration for consistency
  beacon-chain/node/node.go
Labels: Cleanup

#14650 Update light client protobufs
  CHANGELOG.md
  proto/prysm/v1alpha1/BUILD.bazel
  proto/prysm/v1alpha1/electra.ssz.go
  proto/prysm/v1alpha1/light_client.pb.go
  proto/prysm/v1alpha1/light_client.proto
Labels: Light Client

#14633 validator REST: attestation v2
  CHANGELOG.md
  validator/client/aggregate.go
  validator/client/beacon-api/BUILD.bazel
  validator/client/beacon-api/beacon_api_validator_client.go
  validator/client/beacon-api/beacon_block_json_helpers.go
  validator/client/beacon-api/beacon_block_proto_helpers.go
  validator/client/beacon-api/propose_attestation.go
  validator/client/beacon-api/propose_attestation_test.go
  validator/client/beacon-api/submit_aggregate_selection_proof.go
  validator/client/beacon-api/submit_aggregate_selection_proof_test.go
  validator/client/beacon-api/submit_signed_aggregate_proof.go
  validator/client/beacon-api/submit_signed_aggregate_proof_test.go
Labels: API, Electra

#14647 Add missing Eth-Consensus-Version headers
  CHANGELOG.md
  beacon-chain/rpc/eth/beacon/handlers_pool.go
  beacon-chain/rpc/eth/validator/handlers.go
  beacon-chain/rpc/eth/validator/handlers_test.go
Labels: API

#14649 Add proto for `DataColumnIdentifier`, `DataColumnSidecar`, `DataColumnSidecarsByRangeRequest` and `MetadataV2`.
  CHANGELOG.md
  beacon-chain/rpc/eth/config/handlers_test.go
  config/params/config.go
  config/params/loader_test.go
  config/params/mainnet_config.go
  proto/prysm/v1alpha1/BUILD.bazel
  proto/prysm/v1alpha1/data_columns.pb.go
  proto/prysm/v1alpha1/data_columns.proto
  proto/prysm/v1alpha1/fulu.ssz.go
  proto/prysm/v1alpha1/non-core.ssz.go
  proto/prysm/v1alpha1/p2p_messages.pb.go
  proto/prysm/v1alpha1/p2p_messages.proto
  proto/ssz_proto_library.bzl
Labels: peerDAS

#14534 Better attestation packing for Electra
  CHANGELOG.md
  beacon-chain/operations/attestations/mock/BUILD.bazel
  beacon-chain/operations/attestations/mock/mock.go
  beacon-chain/rpc/prysm/v1alpha1/validator/BUILD.bazel
  beacon-chain/rpc/prysm/v1alpha1/validator/proposer_attestations.go
  beacon-chain/rpc/prysm/v1alpha1/validator/proposer_attestations_electra.go
  beacon-chain/rpc/prysm/v1alpha1/validator/proposer_attestations_test.go
Labels: Ready For Review, Electra

#14653 Use slot to determine fork version
  CHANGELOG.md
  beacon-chain/rpc/eth/beacon/handlers_pool.go
  beacon-chain/rpc/eth/beacon/handlers_pool_test.go
  beacon-chain/rpc/eth/validator/handlers.go
  beacon-chain/rpc/eth/validator/handlers_test.go
  runtime/version/fork.go
  time/slots/BUILD.bazel
  time/slots/slottime.go
  time/slots/slottime_test.go
Labels: API
