Repository OffchainLabs/prysm, pull requests merged in 2025-06, with the labels that each got.

#15350 PeerDAS: Implement blockchain.
  beacon-chain/blockchain/BUILD.bazel
  beacon-chain/blockchain/error.go
  beacon-chain/blockchain/execution_engine.go
  beacon-chain/blockchain/options.go
  beacon-chain/blockchain/process_block.go
  beacon-chain/blockchain/process_block_helpers.go
  beacon-chain/blockchain/process_block_test.go
  beacon-chain/blockchain/receive_block.go
  beacon-chain/blockchain/receive_block_test.go
  beacon-chain/blockchain/receive_data_column.go
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/blockchain/setup_test.go
  beacon-chain/blockchain/testing/mock.go
  beacon-chain/db/filesystem/mock.go
  beacon-chain/p2p/interfaces.go
  changelog/manu-peerdas-blockchain.md
  testing/spectest/shared/common/forkchoice/service.go
  testing/util/BUILD.bazel
  testing/util/block.go
  testing/util/fulu_block.go
Labels: peerDAS

#15380 validator client: adding in get duties v2
  changelog/james-prysm_validator-duties-v2.md
  config/features/config.go
  config/features/flags.go
  validator/client/grpc-api/BUILD.bazel
  validator/client/grpc-api/grpc_validator_client.go
  validator/client/grpc-api/grpc_validator_client_test.go
Labels: API, Validator Client

#15382 moving web flag to feature
  changelog/james-prysm_move-web-flag.md
  cmd/validator/flags/flags.go
  cmd/validator/main.go
  cmd/validator/usage.go
  config/features/config.go
  config/features/flags.go
  validator/node/node.go
  validator/rpc/auth_token.go
  validator/rpc/server.go
Labels: Cleanup, Web UI, Validator Client

#15384 Peer das misc
  beacon-chain/execution/engine_client.go
  beacon-chain/execution/engine_client_test.go
  beacon-chain/p2p/subnets.go
  beacon-chain/sync/subscriber.go
  beacon-chain/sync/validators_custody.go
  beacon-chain/sync/validators_custody_test.go
Labels: peerDAS

#15386 PeerDAS: Implement small, unrelated changes.
  beacon-chain/core/blocks/payload.go
  beacon-chain/core/blocks/payload_test.go
  beacon-chain/das/availability_columns_test.go
  beacon-chain/p2p/types/types_test.go
  beacon-chain/p2p/utils.go
  beacon-chain/rpc/eth/blob/handlers.go
  beacon-chain/rpc/eth/blob/handlers_test.go
  beacon-chain/rpc/lookup/blocker.go
  beacon-chain/rpc/lookup/blocker_test.go
  beacon-chain/rpc/testutil/mock_blocker.go
  changelog/manu-peerdas-small.md
Labels: peerDAS

#15383 Reorganize processing of light client updates
  beacon-chain/blockchain/process_block.go
  beacon-chain/blockchain/process_block_helpers.go
  beacon-chain/blockchain/process_block_test.go
  changelog/radek_reorganize-lc-processing.md
Labels: Light Client

#15395 Reclaim memory manually in some tests that fuzz the beacon state
  beacon-chain/core/altair/BUILD.bazel
  beacon-chain/core/altair/attestation_test.go
  beacon-chain/core/altair/deposit_fuzz_test.go
  beacon-chain/core/blocks/BUILD.bazel
  beacon-chain/core/blocks/block_operations_fuzz_test.go
  beacon-chain/core/electra/BUILD.bazel
  beacon-chain/core/electra/deposit_fuzz_test.go
  beacon-chain/core/epoch/BUILD.bazel
  beacon-chain/core/epoch/epoch_processing_fuzz_test.go
  changelog/radek_state-fuzz-gc.md
  testing/fuzz/BUILD.bazel
  testing/fuzz/fuzz.go
Labels: Fuzz

#15387 beacon api: stream event for data column sidecar
  api/server/structs/endpoints_events.go
  beacon-chain/core/feed/operation/BUILD.bazel
  beacon-chain/core/feed/operation/events.go
  beacon-chain/rpc/eth/events/events.go
  beacon-chain/rpc/eth/events/events_test.go
  beacon-chain/sync/validate_data_column.go
  changelog/tt_fish.md
Labels: peerDAS

#14807 Add PeerDAS reconstruction metrics
  beacon-chain/sync/data_columns_reconstruct.go
  beacon-chain/sync/metrics.go
Labels: peerDAS

#15405 peerDAS: Implement `dataColumnSidecarByRootRPCHandler`.
  beacon-chain/blockchain/options.go
  beacon-chain/blockchain/process_block.go
  beacon-chain/blockchain/process_block_test.go
  beacon-chain/blockchain/service.go
  beacon-chain/das/availability_columns_test.go
  beacon-chain/das/data_column_cache_test.go
  beacon-chain/db/filesystem/BUILD.bazel
  beacon-chain/db/filesystem/blob.go
  beacon-chain/db/filesystem/blob_test.go
  beacon-chain/db/filesystem/data_column.go
  beacon-chain/db/filesystem/data_column_test.go
  beacon-chain/node/node.go
  beacon-chain/node/node_test.go
  beacon-chain/node/options.go
  beacon-chain/p2p/broadcaster_test.go
  beacon-chain/p2p/rpc_topic_mappings.go
  beacon-chain/p2p/types/rpc_errors.go
  beacon-chain/sync/BUILD.bazel
  beacon-chain/sync/error.go
  beacon-chain/sync/options.go
  beacon-chain/sync/rpc.go
  beacon-chain/sync/rpc_chunked_response.go
  beacon-chain/sync/rpc_data_column_sidecars_by_root.go
  beacon-chain/sync/rpc_data_column_sidecars_by_root_test.go
  beacon-chain/sync/rpc_handler_test.go
  beacon-chain/sync/rpc_send_request.go
  beacon-chain/sync/service.go
  changelog/manu-peerdas-columns-by-root-handler.md
  cmd/beacon-chain/flags/base.go
  cmd/beacon-chain/flags/config.go
  cmd/beacon-chain/storage/options.go
  testing/util/BUILD.bazel
  testing/util/data_column.go
Labels: peerDAS

#15390 adding ssz for get block endpoint
  changelog/james-prysm_ssz-validator-block.md
  config/features/config.go
  config/features/flags.go
  proto/prysm/v1alpha1/beacon_block.go
  testing/endtoend/components/validator.go
  testing/endtoend/minimal_scenario_e2e_test.go
  testing/endtoend/types/types.go
  validator/accounts/cli_manager.go
  validator/client/beacon-api/BUILD.bazel
  validator/client/beacon-api/beacon_api_beacon_chain_client.go
  validator/client/beacon-api/beacon_api_node_client.go
  validator/client/beacon-api/beacon_api_validator_client.go
  validator/client/beacon-api/duties.go
  validator/client/beacon-api/genesis.go
  validator/client/beacon-api/get_beacon_block.go
  validator/client/beacon-api/get_beacon_block_test.go
  validator/client/beacon-api/mock/json_rest_handler_mock.go
  validator/client/beacon-api/prysm_beacon_chain_client.go
  validator/client/beacon-api/rest_handler_client.go
  validator/client/beacon-api/rest_handler_client_test.go
  validator/client/beacon-api/state_validators.go
  validator/client/beacon-chain-client-factory/beacon_chain_client_factory.go
  validator/client/node-client-factory/node_client_factory.go
  validator/client/service.go
  validator/client/validator-client-factory/validator_client_factory.go
  validator/rpc/beacon.go
Labels: API, Validator Client

#15423 Peerdas various
  beacon-chain/p2p/rpc_topic_mappings.go
  beacon-chain/p2p/rpc_topic_mappings_test.go
  beacon-chain/sync/rpc_data_column_sidecars_by_range_test.go
  beacon-chain/sync/rpc_data_column_sidecars_by_root_test.go
  beacon-chain/sync/rpc_send_request.go
  beacon-chain/sync/rpc_send_request_test.go
  changelog/manu-peerdas-variou.md
  proto/prysm/v1alpha1/BUILD.bazel
  proto/prysm/v1alpha1/data_columns.pb.go
  proto/prysm/v1alpha1/data_columns.proto
  proto/prysm/v1alpha1/fulu.ssz.go
  proto/prysm/v1alpha1/p2p_messages.pb.go
  proto/prysm/v1alpha1/p2p_messages.proto
Labels: peerDAS

#15430 Implement `SendDataColumnSidecarsByRangeRequest` and `SendDataColumnSidecarsByRootRequest`.
  beacon-chain/p2p/types/types.go
  beacon-chain/sync/rpc_send_request.go
  beacon-chain/sync/rpc_send_request_test.go
  changelog/manu-peerdas-send-data-column-requests.md
Labels: peerDAS

#15436 PeerDAS: Implement beacon API blob sidecar endpoint for Fulu
  beacon-chain/rpc/lookup/BUILD.bazel
  beacon-chain/rpc/lookup/blocker.go
  beacon-chain/rpc/lookup/blocker_test.go
  changelog/manu-peerdas-beacon-api.md
  testing/util/fulu.go
Labels: peerDAS
