Repository OffchainLabs/prysm, pull requests merged in 2025-07, with the labels that each got.

#15440 Implement the new Fulu Metadata.
  beacon-chain/sync/rate_limiter.go
  beacon-chain/sync/rate_limiter_test.go
  beacon-chain/sync/rpc_metadata.go
  beacon-chain/sync/rpc_metadata_test.go
  changelog/manu-peerdas-metadata.md
Labels: peer-das

#15474 Allow SSZ requests for pending deposits, partial withdrawals and consolidations
  beacon-chain/rpc/endpoints.go
  changelog/radek_ssz-pending.md
Labels: bug, api

#15401 changes for safe validator shutdown and restarts on healthcheck
  api/client/beacon/health/BUILD.bazel
  api/client/beacon/health/health.go
  api/client/beacon/health/health_test.go
  api/client/beacon/health/interfaces.go
  api/client/beacon/health/mock.go
  changelog/james-prysm_safe-validator-shutdown.md
  cmd/validator/flags/flags.go
  cmd/validator/main.go
  cmd/validator/usage.go
  testing/endtoend/endtoend_test.go
  testing/validator-mock/BUILD.bazel
  testing/validator-mock/node_client_mock.go
  testing/validator-mock/validator_mock.go
  validator/client/BUILD.bazel
  validator/client/beacon-api/BUILD.bazel
  validator/client/beacon-api/beacon_api_node_client.go
  validator/client/grpc-api/BUILD.bazel
  validator/client/grpc-api/grpc_node_client.go
  validator/client/health_monitor.go
  validator/client/health_monitor_test.go
  validator/client/iface/BUILD.bazel
  validator/client/iface/node_client.go
  validator/client/iface/validator.go
  validator/client/runner.go
  validator/client/runner_test.go
  validator/client/service.go
  validator/client/testutil/BUILD.bazel
  validator/client/testutil/mock_validator.go
  validator/client/validator.go
  validator/client/validator_test.go
  validator/node/node.go
Labels: cleanup, validator-client

#15445 switching enable to disable for duties v2
  changelog/james-prysm_default-duties-v2.md
  config/features/config.go
  config/features/flags.go
  validator/client/grpc-api/grpc_validator_client.go
Labels: api, validator-client

#15480 validator client: removing need to call canonical head api
  changelog/james-prysm_remove-cononical-head.md
  testing/validator-mock/validator_mock.go
  validator/client/iface/validator.go
  validator/client/runner.go
  validator/client/runner_test.go
  validator/client/testutil/mock_validator.go
  validator/client/validator.go
  validator/client/validator_test.go
Labels: api, validator-client

#15479 move validator run slot ticker
  changelog/james-prysm_move-ticker.md
  testing/validator-mock/validator_mock.go
  time/slots/slottime_test.go
  validator/client/iface/validator.go
  validator/client/runner.go
  validator/client/testutil/mock_validator.go
  validator/client/validator.go
  validator/client/validator_test.go
Labels: validator-client, bug-fix

#15198 Add support for parsing and handling `ExecutionPayloadAndBlobsBundleV2`
  api/client/builder/client.go
  api/client/builder/testing/mock.go
  beacon-chain/builder/service.go
  beacon-chain/builder/testing/mock.go
  beacon-chain/rpc/prysm/v1alpha1/validator/unblinder.go
  proto/engine/v1/BUILD.bazel
  proto/engine/v1/engine.ssz.go
  proto/engine/v1/execution_engine.pb.go
  proto/engine/v1/execution_engine.proto
Labels: peer-das

#15499 Write `Content-Encoding` header in the response properly when gzip encoding is requested
  api/server/middleware/middleware.go
  api/server/middleware/middleware_test.go
  changelog/radek_fix-gzip.md
Labels: bug-fix

#15433 removing ssz-only flag ( reverting feature) and fix accept header middleware
  api/apiutil/BUILD.bazel
  api/apiutil/header.go
  api/apiutil/header_test.go
  api/server/middleware/BUILD.bazel
  api/server/middleware/middleware.go
  changelog/james-prysm_remove-ssz-only-flag.md
  config/features/config.go
  config/features/flags.go
  config/params/testutils.go
  testing/endtoend/components/validator.go
  testing/endtoend/minimal_scenario_e2e_test.go
  testing/endtoend/types/BUILD.bazel
  testing/endtoend/types/types.go
  validator/client/beacon-api/BUILD.bazel
  validator/client/beacon-api/get_beacon_block_test.go
  validator/client/beacon-api/rest_handler_client.go
  validator/client/beacon-api/rest_handler_client_test.go
Labels: validator-client

#15505 Fix downscore by peers when a node gracefully stops.
  beacon-chain/p2p/BUILD.bazel
  beacon-chain/p2p/handshake.go
  beacon-chain/p2p/peers/scorers/bad_responses.go
  beacon-chain/p2p/service.go
  beacon-chain/p2p/service_test.go
  beacon-chain/p2p/subnets.go
  beacon-chain/sync/backfill/service.go
  beacon-chain/sync/initial-sync/blocks_queue.go
  beacon-chain/sync/initial-sync/blocks_queue_test.go
  beacon-chain/sync/initial-sync/round_robin.go
  beacon-chain/sync/rate_limiter.go
  beacon-chain/sync/rate_limiter_test.go
  beacon-chain/sync/rpc.go
  beacon-chain/sync/rpc_beacon_blocks_by_range.go
  beacon-chain/sync/rpc_beacon_blocks_by_root.go
  beacon-chain/sync/rpc_blob_sidecars_by_range.go
  beacon-chain/sync/rpc_blob_sidecars_by_root.go
  beacon-chain/sync/rpc_data_column_sidecars_by_range.go
  beacon-chain/sync/rpc_data_column_sidecars_by_root.go
  beacon-chain/sync/rpc_goodbye.go
  beacon-chain/sync/rpc_light_client.go
  beacon-chain/sync/rpc_metadata.go
  beacon-chain/sync/rpc_ping.go
  beacon-chain/sync/rpc_status.go
  beacon-chain/sync/service.go
  changelog/manu-peer-ban-at-restart.md
Labels: peer-das, bug-fix

#15523 Update links to consensus-specs to point to master branch
  beacon-chain/blockchain/kzg/trusted_setup.go
  beacon-chain/blockchain/receive_attestation.go
  beacon-chain/core/helpers/weak_subjectivity.go
  beacon-chain/core/helpers/weak_subjectivity_test.go
  beacon-chain/das/availability_columns.go
  beacon-chain/db/filesystem/doc.go
  beacon-chain/p2p/doc.go
  beacon-chain/rpc/prysm/v1alpha1/beacon/attestations.go
  beacon-chain/rpc/prysm/v1alpha1/validator/status.go
  beacon-chain/sync/rpc.go
  beacon-chain/sync/rpc_data_column_sidecars_by_root.go
  beacon-chain/sync/validate_data_column.go
  beacon-chain/verification/data_column.go
  changelog/jtraglia_dev-to-master.md
  encoding/ssz/detect/configfork.go
  proto/eth/v1/beacon_block.proto
  proto/prysm/v1alpha1/beacon_block.proto
  proto/prysm/v1alpha1/beacon_chain.proto
  proto/prysm/v1alpha1/beacon_state.proto
Labels: cleanup, fulu

#15525 implements the proposer lookahead api
  api/server/structs/endpoints_beacon.go
  beacon-chain/rpc/endpoints.go
  beacon-chain/rpc/endpoints_test.go
  beacon-chain/rpc/eth/beacon/BUILD.bazel
  beacon-chain/rpc/eth/beacon/handlers.go
  beacon-chain/rpc/eth/beacon/handlers_test.go
  changelog/james-prysm_proposer-lookahead-api.md
  testing/util/BUILD.bazel
  testing/util/fulu_state.go
Labels: api, fulu

#15506 fix(beacon-api): return syncnets and cgc in Metadata.
  api/server/structs/endpoints_node.go
  beacon-chain/rpc/eth/node/BUILD.bazel
  beacon-chain/rpc/eth/node/handlers.go
  beacon-chain/rpc/eth/node/handlers_test.go
  changelog/raulk_beacon-api-metadata.md
Labels: api, fulu, bug-fix

#15542 wrapping goodbye messages in goroutine to speed up node shutdown
  beacon-chain/sync/service.go
  beacon-chain/sync/service_test.go
  changelog/James-prysm_parallel-goodbyes.md
Labels: networking, optimization, peer-das
