Repository OffchainLabs/prysm, pull requests merged in 2025-05, with the labels that each got.

#15234 Peerdas fix get blobs v2
  beacon-chain/execution/engine_client.go
  beacon-chain/execution/engine_client_test.go
  beacon-chain/sync/data_columns.go
  beacon-chain/sync/subscriber_beacon_blocks.go
  beacon-chain/sync/validate_blob.go
Labels: peerDAS

#15212 Add column identifiers by root request
  beacon-chain/p2p/rpc_topic_mappings.go
  beacon-chain/p2p/types/BUILD.bazel
  beacon-chain/p2p/types/types.go
  beacon-chain/p2p/types/types_test.go
  beacon-chain/sync/data_columns.go
  beacon-chain/sync/data_columns_sampling.go
  beacon-chain/sync/data_columns_sampling_test.go
  beacon-chain/sync/data_columns_test.go
  beacon-chain/sync/rpc_data_column_sidecars_by_root.go
  beacon-chain/sync/rpc_send_request.go
  proto/prysm/v1alpha1/BUILD.bazel
  proto/prysm/v1alpha1/data_columns.pb.go
  proto/prysm/v1alpha1/data_columns.proto
  proto/prysm/v1alpha1/fulu.ssz.go
Labels: peerDAS

#15192 PeerDAS: Implement core.
  beacon-chain/blockchain/kzg/BUILD.bazel
  beacon-chain/blockchain/kzg/validation_test.go
  beacon-chain/core/peerdas/BUILD.bazel
  beacon-chain/core/peerdas/das_core.go
  beacon-chain/core/peerdas/das_core_test.go
  beacon-chain/core/peerdas/info.go
  beacon-chain/core/peerdas/info_test.go
  beacon-chain/core/peerdas/metrics.go
  beacon-chain/core/peerdas/p2p_interface.go
  beacon-chain/core/peerdas/p2p_interface_test.go
  beacon-chain/core/peerdas/reconstruction.go
  beacon-chain/core/peerdas/reconstruction_test.go
  beacon-chain/core/peerdas/util.go
  beacon-chain/core/peerdas/utils_test.go
  beacon-chain/core/peerdas/validator.go
  beacon-chain/core/peerdas/validator_test.go
  beacon-chain/p2p/utils.go
  beacon-chain/rpc/eth/config/handlers_test.go
  changelog/manu-peerdas-core.md
  config/params/config.go
  config/params/config_test.go
  config/params/loader.go
  config/params/loader_test.go
  config/params/mainnet_config.go
  config/params/network_config.go
  consensus-types/blocks/BUILD.bazel
  consensus-types/blocks/kzg.go
  consensus-types/blocks/kzg_test.go
  consensus-types/blocks/rodatacolumn.go
  consensus-types/blocks/rodatacolumn_test.go
  consensus-types/blocks/types.go
  testing/spectest/mainnet/fulu/networking/BUILD.bazel
  testing/spectest/mainnet/fulu/networking/custody_groups_test.go
  testing/spectest/minimal/fulu/networking/BUILD.bazel
  testing/spectest/minimal/fulu/networking/custody_columns_test.go
  testing/spectest/shared/fulu/networking/BUILD.bazel
  testing/spectest/shared/fulu/networking/custody_groups.go
  testing/util/BUILD.bazel
  testing/util/fulu.go
Labels: peerDAS

#15254 fixing field name on json response for `/eth/v2/debug/beacon/states/{state_id}`
  api/server/structs/other.go
  changelog/james-prysm_fix-ppw-index-alias.md
Labels: Bug, API, Release Issue

#15147 deduplicating rest propose block
  api/server/structs/BUILD.bazel
  api/server/structs/conversions_test.go
  changelog/james-prysm_deduplicate-propose-block-marshalling.md
  validator/client/beacon-api/beacon_block_json_helpers.go
  validator/client/beacon-api/beacon_block_json_helpers_test.go
  validator/client/beacon-api/propose_beacon_block.go
  validator/client/beacon-api/propose_beacon_block_altair_test.go
  validator/client/beacon-api/propose_beacon_block_bellatrix_test.go
  validator/client/beacon-api/propose_beacon_block_blinded_bellatrix_test.go
  validator/client/beacon-api/propose_beacon_block_blinded_capella_test.go
  validator/client/beacon-api/propose_beacon_block_capella_test.go
  validator/client/beacon-api/propose_beacon_block_phase0_test.go
Labels: Cleanup, optimization, Validator Client

#15252 Increase Limit For Rebuilding Field Trie
  beacon-chain/state/state-native/setters_misc.go
  beacon-chain/state/state-native/state_test.go
  changelog/nisdas_increase_limit.md
Labels: Electra

#15274 Disable Deposit Log processing after Deposit Requests are Activated
  beacon-chain/execution/log_processing_test.go
  beacon-chain/execution/service.go
  changelog/nisdas_disable_log_processing.md
Labels: Electra

#15268 Use independent context when updating domain data
  changelog/potuz_domain_data_context.md
  testing/endtoend/evaluators/fee_recipient.go
  validator/client/runner.go
Labels: Bug

#15304 Update Beacon API evaluator
  changelog/radek_api-evaluator-electra.md
  testing/endtoend/evaluators/beaconapi/requests.go
  testing/endtoend/evaluators/beaconapi/types.go
  testing/endtoend/evaluators/beaconapi/util.go
  testing/endtoend/evaluators/beaconapi/verify.go
Labels: API, E2E Tests

#15232 Implement data column sidecars verifications.
  beacon-chain/core/peerdas/p2p_interface_test.go
  beacon-chain/core/peerdas/utils_test.go
  beacon-chain/verification/BUILD.bazel
  beacon-chain/verification/batch.go
  beacon-chain/verification/blob.go
  beacon-chain/verification/cache.go
  beacon-chain/verification/data_column.go
  beacon-chain/verification/data_column_test.go
  beacon-chain/verification/error.go
  beacon-chain/verification/fake.go
  beacon-chain/verification/filesystem.go
  beacon-chain/verification/initializer.go
  beacon-chain/verification/interface.go
  beacon-chain/verification/metrics.go
  beacon-chain/verification/result.go
  beacon-chain/verification/verification_test.go
  changelog/manu-peerdas-verification.md
  config/fieldparams/mainnet.go
  config/fieldparams/minimal.go
  consensus-types/blocks/rodatacolumn.go
  consensus-types/blocks/rodatacolumn_test.go
  runtime/logging/BUILD.bazel
  runtime/logging/data_column.go
  testing/util/BUILD.bazel
  testing/util/fulu.go
Labels: peerDAS

#15257 Implement data columns filesystem.
  beacon-chain/db/filesystem/BUILD.bazel
  beacon-chain/db/filesystem/data_column.go
  beacon-chain/db/filesystem/data_column_cache.go
  beacon-chain/db/filesystem/data_column_cache_test.go
  beacon-chain/db/filesystem/data_column_test.go
  beacon-chain/db/filesystem/doc.go
  beacon-chain/db/filesystem/metrics.go
  beacon-chain/db/filesystem/mock.go
  beacon-chain/verification/fake.go
  changelog/manu-peerdas-filesystem.md
  config/fieldparams/mainnet.go
  config/fieldparams/minimal.go
  testing/util/BUILD.bazel
  testing/util/data_column.go
Labels: peerDAS

#15309 PeerDAS: Refactor reconstruction and improve `DataColumnStorage.Get`.
  beacon-chain/core/peerdas/BUILD.bazel
  beacon-chain/core/peerdas/das_core.go
  beacon-chain/core/peerdas/das_core_test.go
  beacon-chain/core/peerdas/info.go
  beacon-chain/core/peerdas/info_test.go
  beacon-chain/core/peerdas/reconstruction.go
  beacon-chain/core/peerdas/reconstruction_test.go
  beacon-chain/core/peerdas/util.go
  beacon-chain/core/peerdas/verification.go
  beacon-chain/core/peerdas/verification_test.go
  beacon-chain/db/filesystem/data_column.go
  beacon-chain/db/filesystem/data_column_cache.go
  beacon-chain/db/filesystem/data_column_cache_test.go
  beacon-chain/db/filesystem/data_column_test.go
  beacon-chain/db/filesystem/mock.go
  changelog/manu-peerdas-core-filesystem.md
  cmd/beacon-chain/flags/base.go
  cmd/beacon-chain/flags/config.go
  config/fieldparams/mainnet.go
  config/fieldparams/minimal.go
  testing/util/electra.go
Labels: peerDAS

#15310 PeerDAS: Implement the validation pipeline for data column sidecars received via gossip
  beacon-chain/core/peerdas/metrics.go
  beacon-chain/p2p/gossip_topic_mappings.go
  beacon-chain/p2p/interfaces.go
  beacon-chain/p2p/pubsub_filter_test.go
  beacon-chain/p2p/service.go
  beacon-chain/p2p/testing/fuzz_p2p.go
  beacon-chain/p2p/testing/mock_peermanager.go
  beacon-chain/p2p/topics.go
  beacon-chain/sync/BUILD.bazel
  beacon-chain/sync/decode_pubsub.go
  beacon-chain/sync/metrics.go
  beacon-chain/sync/service.go
  beacon-chain/sync/subscriber.go
  beacon-chain/sync/validate_data_column.go
  beacon-chain/sync/validate_data_column_test.go
  beacon-chain/verification/mock.go
  changelog/manu-peerdas-validation.md
  consensus-types/blocks/rodatacolumn.go
Labels: peerDAS

#15283 merge builder and structs payload types
  api/client/builder/BUILD.bazel
  api/client/builder/client_test.go
  api/client/builder/types.go
  api/client/builder/types_test.go
  api/server/structs/BUILD.bazel
  api/server/structs/conversions_block_execution.go
  changelog/james-prysm_merge-payload-types.md
  testing/middleware/builder/builder.go
Labels: API, Cleanup, Builder

#15347 PeerDAS: Implement P2P
  beacon-chain/blockchain/setup_test.go
  beacon-chain/p2p/BUILD.bazel
  beacon-chain/p2p/broadcaster.go
  beacon-chain/p2p/broadcaster_test.go
  beacon-chain/p2p/config.go
  beacon-chain/p2p/custody.go
  beacon-chain/p2p/custody_test.go
  beacon-chain/p2p/discovery.go
  beacon-chain/p2p/discovery_test.go
  beacon-chain/p2p/gossip_scoring_params.go
  beacon-chain/p2p/handshake.go
  beacon-chain/p2p/interfaces.go
  beacon-chain/p2p/monitoring.go
  beacon-chain/p2p/pubsub_filter.go
  beacon-chain/p2p/rpc_topic_mappings.go
  beacon-chain/p2p/rpc_topic_mappings_test.go
  beacon-chain/p2p/sender.go
  beacon-chain/p2p/subnets.go
  beacon-chain/p2p/subnets_test.go
  beacon-chain/p2p/testing/BUILD.bazel
  beacon-chain/p2p/testing/fuzz_p2p.go
  beacon-chain/p2p/testing/mock_broadcaster.go
  beacon-chain/p2p/testing/mock_peermanager.go
  beacon-chain/p2p/testing/p2p.go
  beacon-chain/p2p/types/BUILD.bazel
  beacon-chain/p2p/types/object_mapping.go
  beacon-chain/p2p/types/rpc_errors.go
  beacon-chain/p2p/types/types.go
  beacon-chain/p2p/types/types_test.go
  beacon-chain/sync/rpc_blob_sidecars_by_root.go
  beacon-chain/sync/rpc_blob_sidecars_by_root_test.go
  changelog/manu-peerdas-p2p.md
  consensus-types/wrapper/metadata.go
  proto/prysm/v1alpha1/metadata/metadata_interfaces.go
Labels: peerDAS

#15359 code cleanup: moving event channel initialization
  changelog/james-prysm_move-event-channel.md
  validator/client/grpc-api/grpc_validator_client.go
  validator/client/iface/validator.go
  validator/client/runner.go
  validator/client/service.go
  validator/client/testutil/mock_validator.go
  validator/client/validator.go
Labels: Cleanup, Validator Client
